unalias -a

alias realias='vim ~/.aliases; source ~/.aliases'
alias +='pushd .'
alias -- -='popd'
alias ..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../../'
alias cdd='cd -'
alias ls='ls --color=auto'
alias l='ls -al'
alias la='ls -al'
alias al='ls -al'
alias c-='echo -en "\033];$(hostname -s)\007"'
alias ll='ls -l'
alias kk='kill -9'
alias dusn='du -ksc * .[A-Za-z]* | sort -n'
alias rwget='wget -U "Internet Explorer" -r -E -k -K -p -np'
alias vit='vi -t'
alias cdp='cd $(distfind --printroots | cut -d" " -f 1)'
alias rgrep='grep -Pr --exclude-from=$HOME/.grepignore'
alias vless="/usr/share/vim/vim52/macros/less.sh"
alias sdv="svk diff | view -"
alias rfcsync='rsync -avz --delete ftp.rfc-editor.org::rfcs-text-only ~/mirrors/rfc/'
alias ctsync='sync_cpantesters -a MARCEL -d ~/dev/cpan-testers'

alias preview='open -a Preview'
alias finder='open -a Finder "`pwd`"'
alias term='open -a Terminal "`pwd`"'
alias term80='osascript -e"tell application \"Terminal\" to set the number of columns of the front window to 80"'
alias term80all='osascript -e"tell application \"Terminal\" to set the number of columns of every window to 80"'
alias ffg='find . -type f | grep -v .svn'
alias todo='vi ~/svk/dev/TODO'
alias blib='make distclean; perl Makefile.PL && make && vi $(find blib/lib/ -name \*.pm)'

alias print4on1='lpr -o media=A4 -o sides=two-sided-long-edge -o number-up=2'
alias print2on1='lpr -o media=A4 -o sides=two-sided-long-edge'

# go problems
alias probupdate='prob_update.pl --dir ~/problems/99ok --db ~/probdb.txt'

# backup

sync_to () {
    rsync -av --delete --exclude-from=/Users/marcel/.rsync-exclude --delete-excluded ~ $1:/Users/marcel/backup/haengma
}

alias sync_to_jeongseok='sync_to jeongseok'
alias sync_to_maekjeom='sync_to maekjeom'
alias sync_to_daungasse='sync_to daungasse'
alias sync_to_pcgr='sync_to pcgr'

# servers
test -f ~/.ssh/config && for h in \
    `perl -ne'push @h,$1 if /^host (\w+)/;END{print "@h"}' ~/.ssh/config`
    do
        alias $h="ssh $h"
        alias "i$h"="iterm-ssh $h"
    done

